__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
env/
.ipynb_checkpoints/

.env
.env.*
secrets.toml

mlruns/
mlartifacts/
mlflow.db

*.pkl
*.joblib
*.h5
*.pt
*.pth
*.onnx

data/raw/
data/processed/
data/exports/

outputs/
reports/figures/
reports/models/

*.log
logs/

.vscode/

.DS_Store
Thumbs.db

.pytest_cache/
.coverage
htmlcov/


build/
dist/
*.egg-info/


.streamlit/secrets.toml

temp/
tmp/